#farmrpg-ext-sidebar {
    padding: 0 10px;
    margin-bottom: 15px;
}

.farmrpg-ext-status {
    font-size: 17px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.farmrpg-ext-status-cropimg, .farmrpg-ext-perk img {
    width: 17px;
}

.farmrpg-ext-crop-done {
    color: #F00;
}

.farmrpg-ext-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.farmrpg-ext-item {
    border: 1px solid #c8c7cc;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.farmrpg-ext-buy, .farmrpg-ext-perk, .farmrpg-ext-crop {
    cursor: pointer;
}

.farmrpg-ext-max {
    background-color: #FBB;
}

.farmrpg-ext-image img {
    width: 50px;
}
