#farmrpg-ext-sidebar {
    padding: 0 10px;
    margin-bottom: 15px;
}

.farmrpg-ext-status {
    font-size: 17px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.farmrpg-ext-status-button {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.farmrpg-ext-status img {
    height: 13px;
}

.farmrpg-ext-crop-done {
    color: lime;
    filter: drop-shadow(0 0 3px black);
}

.farmrpg-ext-crop-empty {
    color: red;
    filter: drop-shadow(0 0 3px black);
}

.farmrpg-ext-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.farmrpg-ext-item {
    border: 1px solid #c8c7cc;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.farmrpg-ext-click, .farmrpg-ext-status img {
    cursor: pointer;
}

.farmrpg-ext-max {
    background-color: #FBB;
}

.farmrpg-ext-warning {
    background-color: #FFE8BB;
}

.farmrpg-ext-seeds {
    background-image: url(https://farmrpg.com/img/items/dirt_light.png);
    color: white;
}

.farmrpg-ext-image img {
    width: 38px;
}

.farmrpg-ext-settings-row .label img {
    height: 17px;
    margin-right: 5px;
}

.farmrpg-ext-production-overflow {
    color: red;
    padding-right: 10px;
}
